<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehiculos</title>
    <link rel="stylesheet" href="/css/miembros.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
</head>
<body>
    {{>header}}

    <div class="col-md-7 " style="margin: auto;">
        <div class="card card-body">
           <div align= center><h2>Ingresa un nuevo vehiculo</h2></div>
            <form action="/vehiculos" method="POST" >
                <div class="form-group">
                    <select name="propietario_id" class="form-control">
                        {{#each miembros}}
                        <option value={{_id}}>{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group" >
                    <label for="marca">Marca</label><br>
                    <input type="text" name="marca" id="marca" class="form-control">
                </div>
                <div class="form-group" >
                    <label for="modelo">Modelo</label><br>
                    <input type="text" name="modelo" id="modelo" class="form-control">
                </div>
                <div class="form-group">
                    <label for="year">Año</label><br>
                    <input type="text" name="year" id="year" class="form-control">
                </div>
                <div class="form-group">
                    <label for="propietario">Propietario</label>
                </div>
                <div class="form-group" >
                    <button type="submit" class="btn btn-primary"> Agregar </button>
                </div>
                
            </form>

        </div>
    </div>

    <p>Miembros actuales</p>

    <!-- Aqui va a ir la tabla -->

    <div class="col-md-4 offset-md-4">
        
    <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Marca</td>
                <td>Modelo</td>
                <td>Año</td>
                <td>Acción</td>
            </tr>
        </thead>
        <tbody>
            {{#each vehiculos}}
            <tr>
                <td><label for="Propietario">{{propietario_name}}</label></td>
                <td><label for="Marca">{{marca}}</label></td>
                <td><label for="Modelo">{{modelo}}</label></td>
                <td><label for="Year">{{year}}</label></td>
                <td>
                    <a href="/updateVehiculo/{{_id}}" class="btn btn-secondary">Actualizar</a>
                    <a href="/deleteVehiculo/{{_id}}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
    </div>
    

    {{>footer}}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>